.signin{
    background: rgba(44, 62, 80, 0.7);
    padding: 40px;
    width: 230px;
    margin-top: 150px;
    height: 280px;
    margin-left: 180px;
    margin: 0 auto;
    border-radius: 10%;
    
}
form{
    width: 240px;
    text-align: center;

}
input{

    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}
input[type=button]{
    border: none;
    width: 150px;
    background: white;
    color: black;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0;
    border-radius: 15px;;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
input[type=button]:hover
{
    color: #fff;
    background-color: black;
}
h2{
    color: white;

}
a{
    color: yellow;
    text-decoration: blink;
    

}




#create{

    margin-top: 35px;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
::placeholder{
    color: aliceblue;
    opacity: 0.8;
}
