*{
    margin: 0px;
    padding: 0px;

}
.background{
    
    background-image: url(../images/img3.jpg);
    background-color: rgb(0,0,0,0.5);
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;

}
.header{

    width: 100%;
    height: 100px;
    background-color: rgb(0,0,0,0.5);

}
.left-side{
    width: 25%;
    line-height: 100px;
    float: left;
}
.left-side h4{
    padding-left: 70px;
    font-weight: bold;
    color: whitesmoke;
    font-size: 22px; 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

#current{
    color: orange;
}
.right-side{
    width: 70%;
    height: 80px;
    float: right;

}
 .right-side ul{
    margin-left: 550px;
    list-style: none;
}

.right-side ul li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 100px;
    margin-left: 40px;
    text-transform: uppercase;

}
.right-side ul button{
    margin-left: 20px;
}
.right-side ul li a{
    color: white;
    list-style: none; 
    
} 
#signin{

    background-color: #00FFFF;
    border-radius: 10%;
    border: none;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 40px;
    width: 100px;
    margin-top: 25px;
    

}
.signin{
    background: rgba(44, 62, 80, 0.8);
    padding: 40px;
    width: 230px;
    margin-top: 150px;
    height: 280px;
    margin-left: 180px;
    margin: 0 auto;
    border-radius: 10%;
    
}

.right-side{
    width: 70%;
    height: 80px;
    float: right;

}
 .right-side ul{
    margin-left: 550px;
    list-style: none;
}

.right-side ul li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 100px;
    margin-left: 40px;
    text-transform: uppercase;

}
.right-side ul button{
    margin-left: 20px;
}
.right-side ul li a{
    color: white;
    list-style: none; 
    
} 
*{
    border-radius: 5%;
}
.signup{
    background: black;
    padding: 40px;
    width: 250px;
    /* margin: auto; */
    margin-top: 20px;
    height: 450px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 20px;
    
}

input{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
    
}
input[type=button]
{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer; 
}
#signup{

    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;

}
#signin{
    background-color: #00FFFF;
    font-weight: bold;
    text-align: center; 
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 25px;
    font-weight: bold;
}

input[type=button]:hover
{
    color: #ffffff;
    background-color: black;

}  
h2{

    color: white;
    text-align: center;

}